.button {
    border-radius: 10px;
    height: 60px;
    padding: 8px;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: none;
    color: #F0F2F6;
    background-color: #1663C7;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    width: 100%;
    box-sizing: border-box;
}

.button:active {
    transform: scale(.95);
}