* {
    font-family: 'Roboto';
    box-sizing: border-box;
}
	
html {
  scroll-behavior: smooth;
  transition: all 2s ease-in-out;
}

body {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}