.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 200px;
}

.navbar__title {
    margin: 0;
    padding: 0;
}

.navbar__menu {
    display: flex;
    height: 35px;
    width: 35px;
}